<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Nº Pedido</th>
            <th scope="col">Valor</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of dataSource |paginate: { itemsPerPage: 10, currentPage: paginaAtual };  let i = index">
        <tr>
            <th scope="row">1</th>
            <td>{{item.nomecliente}}</td>
            <td>{{item.numpedido}}</td>
            <td>{{item.valor | currency: 'BRL'}}</td>
            <td>
                {{item.data | date: 'dd/MM/yyyy HH:mm' }}
            </td>
        </tr>
    </tbody>
</table>
<div style="float: right;">
    <pagination-controls
        (pageChange)="paginaAtual = $event"
        previousLabel="Anterior"
        nextLabel="Próximo"
    ></pagination-controls>

</div>
